.menu-horizontal  {
    li {
        color: #777;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
        &.primary {
            background-color: rgb(19, 121, 255);
            padding: 0.25rem 1.25rem;
            border-radius: 0.25rem;
            color: #ececec;
            a {
                color: #ffffff;
                opacity: 1;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

img.logo-header {
    max-width: 100px !important;
}

input, button, button:active, button:focus {
    outline: none !important;
}

.auth-bg {
    background-image: url('../images/bg-a.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
    height: 100vh;
    width: 100vw;
    .flex-itemss {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .auth-logo {
        width: 110px;
        position: relative;
        bottom: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
    input {
        font-size: 0.8rem !important;
        height: 3rem;
    }
}

.coverr:before {
    background-color: rgba(83, 83, 83, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.auth-subtitle, .auth-title {
    font-weight: 300;
    margin-bottom: 1.25rem;
    text-align: center;
}
.auth-title {
    font-size: 2.875rem;
}
.auth-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2.25rem;
}
.auth-meta {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    a {
        font-weight: 500;
        text-decoration: underline;
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.hide {
    display: none;
}

.banner-img {
    max-width: 95%;
    margin: auto;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    .img-cover {
      @media(max-width: 991px) {
        img {
          width: 90%;
          margin: auto;
          display: block;
        }
      }
    }
    img {
      width: auto;
      height: 90%;
      max-height: 390px;
  }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    figcaption {
        color: #555;
    }
}


.ads-img {
  max-width: 95%;
  margin: auto;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  @media(max-width: 991px) {
    margin: 2rem auto;
    max-height: 150px;
  }
  img {
    width: auto;
    max-height: 150px;
  }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    figcaption {
        color: #555;
    }
    // box-shadow: 0 1px 40px rgba(0, 0, 0, 0.125);
}

.translation {
    font-size: 1.25rem;
    font-weight: 400;
    width: 90%;
    margin-top: 2rem;
}

.switchable__text {
    .parable {
        font-weight: 500;
        font-size: 1.75rem;   
    }
}
.audio-option {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .modal-instance {
        margin-right: 0.5rem;
        button {
            padding: 0 1rem;
            
        }
    }
    span {
        display: block;
        margin-top: 0.5rem;
    }
}

.slide-in {
	position: relative;
	animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideIn {
	from {
		transform: translateY(1rem);
	}

	to {
		transform: translateY(0);
	}
}

.quest-cover {
    @media(min-width: 1024px) {
        margin-top: 3rem;
    }
}
.question-tags {
    display: flex;
    justify-content: flex-start;
    .tag {
        background-color: #FFF;
        font-weight: 600;
        display: block;
        color: rgb(19, 121, 255);
        border: 1px solid rgb(19, 121, 255);
        padding: 0.25rem 0.75rem;
        border-radius: 0.125rem;
        margin: 0.75rem 0.875rem;
        margin-left: 0;
        &:hover {
            cursor: pointer;
        }
        &.dirty {
            background-color: rgb(19, 121, 255);
            color: #FFF;
        }
    }
}

.quiz-options {
    display: block;
    margin: 1.5rem 0;
    .each {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        color: #000;
        opacity: 0.5;
        font-weight: 300;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        &.selected {
            opacity: 1;
            font-weight: 500;
        }
        .tag {
            display: block;
            margin-right: 0.75rem;
            text-align: center;
        }
    }
}

.quiz-img {
    img {
        @media(max-width: 991px) {
            max-width: 80%;
            margin: auto;
            height: auto;
        }
        max-width: 90%;
        max-height: 475px;
        width: auto;
        margin: auto;
        display: block;
    }
}

button.submit-quiz {
    color: #FFFFFF;
    background-color: rgb(19, 121, 255);
    font-weight: 600;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    &:hover {
        background-color: rgb(31, 128, 255);
        cursor: pointer;
    }
}




.s4me-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 999;
  
    &-body {
      position: absolute;
      top: 45%;
      left: 50%;
      width: 98%;
      background: #ffffff;
      border-radius: 0.325rem;
      padding: 1rem;
      transform: translate(-50%, -50%);
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  
      &.primary {
        left: 37%;
      }
  
      .close-btn {
        position: absolute;
        right: -1rem;
        top: -1rem;
        background-color: #000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
          }
        img {
          display: block;
          width: 18px;
          height: 18px;
        }
      }
  
      .title {
        color: #30313c;
        font-size: 1.125rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
      }
  
      &.large {
        top: 50%;
        @media (min-width: 768px) {
          width: 595px;
        }
      }
  
      @media (min-width: 768px) {
        width: 475px;
        padding: 2.25rem;
      }
  
      &-content {
        padding: 1rem 0;
        height: max-content;
        color: #30313c;
  
        .lister-data {
          .details {
            display: flex;
            justify-content: flex-start;
  
            img {
              width: 3rem;
              height: 3rem;
              display: block;
              margin-right: 3rem;
            }
  
            .name-relation {
              font-size: 1.2rem;
              position: relative;
              top: 0.4rem;
              font-weight: bold;
            }
          }
        }
  
        @media (max-width: 768px) {
          max-height: 75vh;
          overflow-y: scroll;
        }
  
        .otpInput {
          color: #30313c;
          border: 1px solid rgba(12, 10, 45, 0.34);
          border-radius: 0.25rem;
          font-size: 1.125rem;
          width: 3rem !important;
          height: 3rem !important;
          margin: 0 0.5rem;
          text-align: center;
          font-weight: bold;
        }
  
        .text-input {
          label {
            font-size: 0.75rem;
          }
        }
      }
  
      .modal-action {
          display: flex;
          justify-content: center;
        button {
          height: 2.875rem;
          margin-right: 1.5rem;
        }
        &.right {
          justify-content: flex-end;
        }
      }
    }
  }


  button.bttn, a.bttn {
  display: block;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 0.935rem;
  width: 8rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #cfcbcb;
  }

  &.primary {
    color: #ffffff;
    background-color: #0022ff;

    &:hover {
      background-color: #223fff;
    }
  }

  &.secondary {
    color: #30313c;
    border: 1px solid rgba(12, 10, 45, 0.25);
    background: #ffffff;

    &:hover {
      background: rgb(245, 243, 243);
    }
  }
}

.mb-max {
    margin-bottom: 8rem;
}

.search-cover {
  position: absolute;
  width: 100%;
  background-color: #FFF;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  top: 0;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  form {
    width: 50%;
    margin: auto;
    @media(max-width: 991px) {
      width: 70%;
    }
    input {
      height: 2.75rem;
    }
  }
  img {
    width: 25px;
    height: 25px;
    margin: 0 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-component {
  @media(min-width: 1200px) {
    width: 77%;
    margin: auto;
    margin-top: 3rem;
  }
  .each-result {
    max-width: 650px;
    text-align: left;
    display: block;
    margin: 0 0 3rem;
    text-decoration: none;
    color: #212529;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
    @media(max-width: 767px) {
      padding: 1.25rem;
      box-shadow: 1px 1px 4px #d4d5d7;
      border-radius: 0.25rem;
    }
    @media(min-width: 768px) {
      display: flex;
    }
    .image {
      @media(min-width: 768px) {
        margin-right: 2rem;
      }
      img {
        display: block;
        width: 100%;
        @media(min-width: 768px) {
          width: 160px;
        }
      }
    }
    .content {
      width: 95%;
      @media(max-width: 767px) {
          margin-top: 1.5rem;
      }
    }
  }
}

.search-ads {
  margin-top: 3rem;
}

.search-null {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-top: 10%;
  height: 50vh;
}

.component-heading1 {
  font-size: 1.25rem;
  font-weight: bold;
}