.menu-horizontal  {
    li {
        color: #777;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
        &.primary {
            background-color: rgb(19, 121, 255);
            padding: 0.25rem 1.25rem;
            border-radius: 0.25rem;
            color: #ececec;
            a {
                color: #ffffff;
                opacity: 1;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

img.logo-header {
    max-width: 100px !important;
}

input, button, button:active, button:focus {
    outline: none !important;
}

.auth-bg {
    background-image: url('../images/bg-a.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
    .flex-itemss {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .auth-logo {
        width: 110px;
        position: relative;
        bottom: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
    input {
        font-size: 0.8rem !important;
        height: 3rem;
    }
}

.coverr:before {
    background-color: rgba(83, 83, 83, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.auth-subtitle, .auth-title {
    font-weight: 300;
    margin-bottom: 1.25rem;
    text-align: center;
}
.auth-title {
    font-size: 2.875rem;
}
.auth-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2.25rem;
}
.auth-meta {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    a {
        font-weight: 500;
        text-decoration: underline;
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.hide {
    display: none;
}

.banner-img {
    width: 90%;
    max-width: 95%;
    margin: auto;
    height: 280px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    figcaption {
        color: #555;
    }
    // box-shadow: 0 1px 40px rgba(0, 0, 0, 0.125);
    img {
        width: 100%;
        height: 100%;
    }
}

.translation {
    font-size: 1.25rem;
    font-weight: 400;
    width: 90%;
    margin-top: 2rem;
}

.switchable__text {
    .parable {
        font-weight: 500;
        font-size: 1.75rem;   
    }
}
.audio-option {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .modal-instance {
        margin-right: 0.5rem;
        button {
            padding: 0 1rem;
            
        }
    }
    span {
        display: block;
        margin-top: 0.5rem;
    }
}

.slide-in {
	position: relative;
	animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideIn {
	from {
		transform: translateY(1rem);
	}

	to {
		transform: translateY(0);
	}
}

.quest-cover {
    @media(min-width: 1024px) {
        position: absolute;
        bottom: 3rem;
    }
}
.question-tags {
    display: flex;
    justify-content: flex-start;
    .tag {
        background-color: #FFF;
        font-weight: 600;
        display: block;
        color: rgb(19, 121, 255);
        border: 1px solid rgb(19, 121, 255);
        padding: 0.25rem 0.75rem;
        border-radius: 0.125rem;
        margin: 0.75rem 0.5rem;
        &:hover {
            cursor: pointer;
        }
        &.dirty {
            background-color: rgb(19, 121, 255);
            color: #FFF;
        }
    }
}

.quiz-options {
    display: block;
    margin: 2.5rem 0;
    .each {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        color: #000;
        opacity: 0.5;
        font-weight: 300;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        &.selected {
            opacity: 1;
            font-weight: 500;
        }
        .tag {
            display: block;
            margin-right: 0.75rem;
            text-align: center;
        }
    }
}

.quiz-img {
    img {
        max-width: 720px;
        max-height: 475px;
        width: auto;
        margin: auto;
        display: block;
    }
}

button.submit-quiz {
    color: #FFFFFF;
    background-color: rgb(19, 121, 255);
    font-weight: 600;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    &:hover {
        background-color: rgb(31, 128, 255);
        cursor: pointer;
    }
}